/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define LAYER_HandsDownGold 0
#define LAYER_HdgAdaptiveAfterG 1
#define LAYER_HdgAdaptiveAfterP 2
#define LAYER_HdgAdaptiveAfterB 3
#define LAYER_HdgAdaptiveAfterD 4
#define LAYER_HdgAdaptiveAfterA 5

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };

    keymap {
        compatible = "zmk,keymap";

        HandsDownGold {
            bindings = <
   &kp J &kp G &kp M &kp P &kp V               &kp MINUS &kp DOT &kp COMMA &kp SEMI &kp SQT
   &kp R &kp S &kp N &kp D &kp B               &kp Z &kp A &kp E &kp I &kp H
   &kp X &kp F &kp L &kp C &kp W               &kp Q &kp U &kp O &kp Y &kp K
             &kp BSPC &kp LSHIFT &kp T   &kp SPACE &kp LSHIFT &kp ENTER
            >;
            layer-id = <LAYER_HandsDownGold>;
        };
    };
};
